<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Digital Art</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">ArtMuseum <span>  powered with GAN by TEAM.끝판왕</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/style">Style Transfer</a></li>
					<li><a href="/faceswap">FaceSwap</a></li>
					<li><a href="/firstordervideo">First Order Motion</a></li>
					<li><a href="/about">About Us.</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>Digital Art</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Style Transfer</h2>
							<p>--AI Art--</p>
						</header>
						<div class="content">
							<p>Global Neural Style Transfer Software Market (COVID-19 Impact) Size, Status and Forecast 2020-2026

This report studies the Neural Style Transfer Software market with many aspects of the industry like the market size, market status, market trends and forecast, the report also provides brief information of the competitors and the specific growth opportunities with key market drivers. Find the complete Neural Style Transfer Software market analysis segmented by companies, region, type and applications in the report.

New vendors in the market are facing tough competition from established international vendors as they struggle with technological innovations, reliability and quality issues. The report will answer questions about the current market developments and the scope of competition, opportunity cost and more.

The major players covered in Neural Style Transfer Software Market: DeepArt, Algorithmia, Prisma, MacDaddy, Neuralstyle.art, Deep Dream Generator

The final report will add the analysis of the Impact of Covid-19 in this report Neural Style Transfer Software industry.</p>
						</div>
						<footer>
							<a href="/style" class="button alt">Make Mine</a><br>
							<a href="/style_video" class="button alt">Real Time</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Learn More</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner3.gif">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Face Swap</h2>
							<p>--Deep Fake--</p>
						</header>
						<div class="content">
							<p>Why it matters: Deepfakes — images manipulated or generated by AI in a deceptive way — undermine trust both by tricking people into thinking phony images or videos are real and by making them doubt the veracity of real imagery.

Driving the news: The Content Authenticity Initiative Monday released a white paper outlining an open standard for a photo and video authentication system that could be built into both hardware such as cameras and smartphones and software such as Photoshop.</p>
						</div>
						<footer>
							<a href="/faceswap" class="button alt">Learn More</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.gif">
				<div class="inner">
					<article class="box">
						<header>
							<h2>First Order Motion</h2>
							<p></p>
						</header>
						<div class="content">
							<p>The videos on the left show the driving videos. The first row on the right for each dataset shows the source videos. The bottom row contains the animated sequences with motion transferred from the driving video and object taken from the source image. We trained a separate network for each task.</p>
						</div>
						<footer>
							<a href="/firstordervideo" class="button alt">Learn More</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Learn More</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.mp4">
				<div class="inner">
					<article class="box">
						<header>
							<h2>About US</h2>
							<p>04.01.2020 ~ 08.27.2020</p>
						</header>
						<div class="content">
							<p>We gathered for different purposes, <br>but shared an impressive time to reach our goal.<br> Our purpose is not so different and very close.</p>
						</div>
						<footer>
							<a href="/about" class="button alt">Learn More</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>
